<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @badge.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @badge.category %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @badge.icon %>
</p>

<p>
  <strong>School:</strong>
  <%= @badge.school %>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
