<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @feature.category %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @feature.rating %>
</p>

<p>
  <strong>School:</strong>
  <%= @feature.school %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
